/* Menu hambúrguer (mobile e tablet) */
@media (max-width: 1024px) {
  header {
    max-width: 100vw;
    padding: 10px;
  }
  .hamburger {
    display: flex; /* Mostra o botão hambúrguer */
    justify-content: center;
    align-items: center;
  }

  #menu-list {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: var(--background-1);
    width: 100%;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    padding: 20px 0;
  }

  #menu-list.show-menu {
    display: flex; /* Mostra o menu quando ativado */
  }
  .class_home {
    width: 80%;
    height: auto;
    padding: 30px; /* Mais espaçamento */
    border-radius: 15px; /* Reduz o border-radius */
  }
  #first_title {
    font-size: 2.5rem; /* Reduz o tamanho do título */
  }

  .meu_nome h3 {
    font-size: 1.5rem; /* Ajusta tamanho do subtítulo */
  }
  .about {
    flex-direction: column;
    padding: 40px 10%; /* Reduz o padding */
    gap: 20px;
    justify-content: center;
  }

  #Lucas-image {
    width: 350px;
    height: 350px;
    margin-right: 0; /* Remove margem lateral */
  }

  .about div h2 {
    font-size: 3rem; /* Reduz tamanho do título */
    text-align: center;
  }

  .about div p {
    font-size: 1.2rem;
    text-align: center;
  }

  .about div button {
    height: 50px;
    width: 160px;
    font-size: 16px;
  }

  .about_text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .hobbies {
    padding: 40px 10%;
  }

  .hobbies h2 {
    font-size: 3rem; /* Reduz tamanho do título */
  }

  .hobbies p {
    font-size: 1.2rem;
  }

  .slider {
    width: 100%; /* Largura total do container */
    height: 250px;
  }

  .slides {
    height: 250px;
  }

  .educational-background h2,
  .skills h2 {
    font-size: 2.5rem;
  }

  .swiper {
    height: 45vh; /* Altura ainda menor em tablets */
  }
  .swiper-slide {
    font-size: 1.5rem; /* Tamanho menor em tablets */
    padding: 0.8rem;
  }

  .skill-cards {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas em tablets */
  }

  .Projetos h2 {
    font-size: 50px; /* Reduz o tamanho do título */
  }

  .card-projects {
    flex-direction: column; /* Alinha os cards verticalmente */
    align-items: center;
    gap: 1.5rem;
  }

  .card-right,
  .card-left {
    flex-direction: column;
  }

  .card {
    width: 300px; /* Reduz a largura dos cards */
    height: 380px;
    margin: 10px;
  }

  .card img {
    width: 50px;
    height: 50px;
  }

  .paragraph,
  .text-explanation {
    font-size: 0.75rem; /* Ajusta o tamanho da fonte */
  }

  .link {
    top: 30%; /* Reposiciona o botão */
  }
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
  .checkbox {
    width: 40px;
    height: 20px;
    border-radius: 20px; /* Mais arredondado */
    margin: 5px; /* Espaço reduzido */
  }

  .checkbox::before {
    width: 50px;
    height: 15px;
    left: 10px;
  }

  .checkbox:checked::before {
    left: calc(100% - 18px); /* Ajuste automático para a direita */
  }
  .portfolio {
    font-size: 36px;
  }

  .link-menu {
    font-size: 16px;
  }
  .class_home {
    width: 80%;
    height: auto;
    padding: 30px; /* Espaçamento menor */
    border: 3px dashed #0da3a3;
    border-radius: 10px;
  }

  #first_title {
    font-size: 2rem; /* Título menor */
  }

  .meu_nome h3 {
    font-size: 1.2rem; /* Subtítulo menor */
  }

  .meu_nome {
    background-size: cover;
  }
  .about {
    flex-direction: column;
    padding: 20px 5%;
    gap: 20px;
  }

  #Lucas-image {
    width: 250px;
    height: 250px;
  }

  .about div h2 {
    font-size: 2.5rem; /* Título menor */
    text-align: center;
  }

  .about div p {
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
  }

  .about div button {
    height: 45px;
    width: 140px;
    font-size: 14px;
  }
  .hobbies {
    padding: 20px 5%;
  }

  .hobbies h2 {
    font-size: 2.5rem; /* Título menor */
  }

  .hobbies p {
    font-size: 1rem;
    text-align: justify;
  }

  .slider {
    width: 100%; /* Ocupa toda a largura */
    height: 200px;
  }

  .slides {
    height: 200px;
  }

  .manual-navigation {
    bottom: 5px;
  }
  .educational-background h2,
  .skills h2 {
    font-size: 2rem; /* Reduz título ainda mais */
  }

  .swiper {
    height: 35vh;
  }
  .swiper-slide {
    font-size: 1.8rem; /* Tamanho ainda menor em celulares */
  }

  .skill-cards {
    display: grid !important;
    /* Pelo menos 200px por card, até preencher o espaço */
    grid-template-columns: repeat(
      2,
      1fr
    ) !important; /* Flexível para 2 colunas */
    gap: 0.8rem !important; /* Espaçamento entre os cards */
    margin: 1rem auto;
    justify-content: center; /* Centraliza os cards */
  }

  .skill-figure {
    width: 8rem; /* Ajuste para um tamanho mais visível */
    height: 8rem; /* Proporcional */
    font-size: 0.8rem; /* Ajusta o tamanho dos textos */
  }
  .skill-content h3 {
    margin: 0; /* Remove margens padrão */
    text-align: center; /* Centraliza o texto */
    font-size: 1rem; /* Ajusta o título */
  }

  .skill-content p {
    margin: 0; /* Remove margens padrão */
    text-align: center; /* Centraliza o texto */
    font-size: 0.8rem; /* Ajusta o parágrafo */
  }

  .icon {
    font-size: 2rem; /* Ícones menores, mas visíveis */
  }
  .card-projects {
    flex-direction: row;
    justify-content: center;
  }

  .card {
    max-width: 45%; /* Ocupa quase metade do container */
  }
  .Projetos {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .Projetos h2 {
    font-size: 35px; /* Reduz ainda mais o título */
    margin-bottom: 1rem;
  }

  .card-projects {
    margin-top: 2rem;
  }

  .card {
    width: 100%; /* Ocupa quase toda a largura */
    height: auto;
    padding: 1rem;
  }

  .card img {
    width: 40px; /* Ajusta tamanho da imagem */
    height: 40px;
  }

  .card h5 {
    font-size: 1.2rem;
  }

  .paragraph,
  .text-explanation {
    font-size: 0.7rem; /* Texto menor para caber em telas pequenas */
    margin: 0.5rem 0;
  }

  .link {
    font-size: 13px;
    top: 25%;
    padding: 4px 12px;
  }
  .form-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }

  .form-image {
    flex-direction: column;
    text-align: left;
  }
  .form-container label {
    font-size: 0.4rem; /* Reduz o tamanho para tablets */
  }

  .form-container input,
  .form-container textarea,
  .form-container button {
    padding: 0.4rem;
    margin: 0.5rem 0;
  }

  #form-contact {
    max-width: 200px;
    max-height: 200px;
  }
}

@media (max-width: 480px) {
  .checkbox {
    width: 35px;
    height: 15px;
    border-radius: 20px; /* Mantém proporção de borda */
    margin: 3px; /* Menor espaço */
  }

  .checkbox::before {
    width: 12px;
    height: 12px;
    left: 2px;
  }

  .checkbox:checked::before {
    left: calc(100% - 14px); /* Ajuste automático */
  }
  .swiper-slide {
    font-size: 1.2rem; /* Tamanho ainda menor em celulares */
    padding: 0.5rem;
  }
  .skill-cards {
    grid-template-columns: 1fr; /* Uma coluna para telas muito pequenas */
    gap: 0.5rem;
    justify-items: center; /* Centraliza os cards */
  }

  .skill-figure {
    width: 7rem; /* Menor largura para celulares menores */
    height: 7rem; /* Menor altura */
  }

  .skill-content h3 {
    font-size: 1rem; /* Reduz título */
  }

  .skill-content p {
    font-size: 0.8rem; /* Reduz parágrafo */
  }

  .icon {
    font-size: 2rem; /* Ícones menores */
  }
  .card-projects {
    flex-direction: column;
    align-items: center;
  }

  .card {
    max-width: 90%; /* Largura quase total em telas pequenas */
  }

  .Projetos h2 {
    font-size: 2rem; /* Reduz tamanho do título */
  }
  footer h5 {
    font-size: 24px;
  }

  footer p {
    font-size: 16px;
  }

  .social img {
    height: 20px;
  }

  .social a {
    height: 40px;
    width: 40px;
  }

  .form-container input,
  .form-container textarea,
  .form-container button {
    font-size: 14px;
    padding: 0.6rem;
  }
  .form-container label {
    font-size: 0.9rem; /* Reduz o tamanho para tablets */
  }
}
