::-webkit-scrollbar-track {
  background-color: #141414;
}
::-webkit-scrollbar {
  width: 12px;
  background: #f4f4f4;
}
::-webkit-scrollbar-thumb {
  background: #df0a0a;
  border-radius: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #d50909;
  --main-white-color: #fff;
  --main-card-color: #4a0808;
  --main-nav-hover: #fcec13;
  --main-home-background: #22211d;
  --background-card: #0e0322;
  --text-shadow: #f10606;
  --font-first-section: #f9f4e3;
  --background-1: #000;
  --background-2: #1f1c1c;
}

:root.theme-light {
  --primary-color: #d50909;
  --main-white-color: #000;
  --main-card-color: #4a0808;
  --main-nav-hover: #fcec13;
  --main-home-background: #22211d;
  --background-card: #220305;
  --text-shadow: #d40707;
  --font-first-section: #1a1a1a;
  --background-1: #d1b3b3;
  --background-2: #aca7a7fb;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
.btn-whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  left: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
}

.fa-whatsapp {
  margin-top: 16px;
}

.caixa-principal {
  width: 100%;
}

nav {
  background-color: var(--background-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 20px;
  padding: 10px 30px;
  width: 100%;
}

/* Menu padrão */
#menu-list {
  display: flex;
  gap: 15px;
  list-style: none;
}

.link-menu {
  text-decoration: none;
  color: var(--main-white-color);
  font-size: 24px;
}

.link-menu:hover {
  color: var(--main-nav-hover);
}

.checkbox {
  height: 30px;
  width: 60px;
  border: 2px solid var(--main-white-color);
  background: #222;
  appearance: none;
  border-radius: 30px;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  outline: none;
  cursor: pointer;

  margin: 10px;
  display: block; /* Mantém o checkbox visível */
}

.checkbox::before {
  height: 24px;
  width: 24px;
  position: absolute;
  display: block;
  top: 50%; /* Alinha verticalmente */
  left: 3px; /* Alinha horizontalmente dentro do checkbox */
  content: '';
  background: linear-gradient(to bottom, #444, #ffffff);
  border-radius: 50%;
  transform: translateY(-50%); /* Corrige o centro vertical */
  transition: 0.5s;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
    inset 4px 4px rgba(255, 255, 255, 0.2),
    inset -4px 4px rgba(255, 255, 255, 0.2);
}

.checkbox:checked {
  background: #000000;
  box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
    inset 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.05);
}

/* Estilo ao clicar no checkbox */

.checkbox:checked::before {
  left: 32px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1),
    inset 4px 4px rgba(255, 255, 255, 1), inset -4px 4px rgba(255, 255, 255, 1);
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  transform: translateX(28px, -60%); /* Movimenta o "botão" ao estado marcado */
}

/* Ícone do menu hamburguer */
.hamburger {
  display: none; /* Esconde em telas grandes */
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: var(--main-white-color);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Classe ativada quando o menu está aberto */
.hamburger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0; /* Oculta a barra do meio */
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.portfolio {
  color: var(--main-white-color);
  font-size: 48px;
  font-weight: 700;
}

.portfolio span {
  color: var(--primary-color);
}

li {
  color: var(--main-white-color);
  list-style: none;
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
  font-weight: 700;
  cursor: pointer;
  transition: 1s ease-in-out;
}

li:hover {
  box-shadow: inset 35px 30px 35px #d10a0a;
  border-radius: 10%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  transform: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Garantir que o header fique acima do conteúdo */
  background-color: var(--background-1);
}

.meu_nome {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  height: 100vh;
  background-color: var(--background-2);
  background-image: url(../img/background-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: contain;
  background-attachment: fixed;
  box-shadow: inset 5px 5px 15px #f0f0af;
  padding: 20px;
}

.meu_nome h3 {
  color: var(--main-white-color);
  font-size: 2rem;
}

.class_home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: var(--main-home-background);
  width: 60%;
  height: 60%;
  text-align: center;
  border-radius: 10%;
  border: 5px dashed #0da3a3;
  z-index: 1;
  overflow: hidden; /* Garante que os pseudoelementos não transbordem */
}

.class_home::before,
.class_home::after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1; /* Gradiente ficará atrás da div */
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background: linear-gradient(
    45deg,
    #ffff00,
    #00ff00,
    #0099ff,
    #001aff,
    #a200ff,
    #ff0055,
    #ff0000,
    #ffff00,
    #00ff00,
    #0099ff,
    #001aff,
    #a200ff
  );
  background-size: 500%;
  border-radius: 8px;
  animation: AnimarBorda 8s linear alternate infinite;
}

@keyframes AnimarBorda {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

#first_title {
  color: var(--font-first-section);
  font-size: 3.5rem;
  text-align: center;
}

#first_title span {
  color: rgb(156, 19, 19);
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 15%;
  background-color: var(--background-1);
}

.about div {
  text-shadow: 3px 7px 12px var(--text-shadow);
}

.about div h2 {
  color: var(--main-white-color);
  font-size: 75px;
}

.about div p {
  color: var(--main-white-color);
  font-size: 1.3rem;
  margin-top: 35px;
  margin-bottom: 60px;
}

.about div button {
  background: #bb0707;
  height: 90px;
  width: 210px;
  font-size: 24px;
  border: none;
  border-radius: 70px;
}

.about div button:hover {
  background-color: black;
  border: 3px solid #d10101;
  transition: 0.5s;
  cursor: pointer;
}

.about_text {
  transform: translateX(400%);
  transition: transform 4s ease;
}

.about_text:nth-of-type(even) {
  transform: translateX(-400%);
}

.about_text.show {
  transform: translateX(0);
}

#Lucas-image {
  width: 500px;
  height: 520px;
  border-radius: 100%;
  border: 3px solid rgb(243, 5, 5);
  margin-right: 40px;
}

.link-button {
  text-decoration: none;
  font-weight: 500;
  color: #fff9f9f8;
}

#contact:hover {
  background-color: rgba(50, 192, 7, 0.952);
  box-shadow: 5px 9px 10px #926c19;
}

.about-text {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.hobbies {
  padding: 70px 15%;
  background-color: var(--background-2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hobbies-class {
  text-shadow: 3px 7px 12px var(--text-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hobbies h2 {
  color: var(--main-white-color);
  font-size: 75px;
  text-align: center;
}

.hobbies p {
  color: var(--main-white-color);
  font-size: 1.3rem;
  margin-top: 35px;
  margin-bottom: 60px;
  text-align: start;
}
.skills {
  padding: 70px 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}

.educational-background {
  padding: 70px 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-1);
}

.educational-background h2 {
  color: var(--main-white-color);
  font-size: 75px;
  text-align: center;
  text-shadow: 3px 7px 12px var(--text-shadow);
  margin: 100px;
}

.swiper {
  width: 100%;
  height: 45vh;
  margin: 0 auto; /* Centraliza o carrossel */
}

.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Garante que o slide ocupe a altura total do carrossel */
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(243, 5, 5);
  text-shadow: 3px 7px 12px rgb(145, 84, 84);
}

.swiper-slide img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.slide_1 {
  background-image: url(../img/alura.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slide_2 {
  background-image: url(../img/utp.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slide_3 {
  background-image: url(../img/devclub.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

div.swiper-button-next,
div.swiper-button-prev {
  top: 50%;
  color: var(--text-shadow);
}

div.swiper-button-next:hover,
div.swiper-button-prev:hover {
  box-shadow: 2px 10px 6px #c90a0a;
  border-radius: 10%;
  transition: 1s;
}

.skills {
  background-color: var(--background-1);
}

.skills h2 {
  text-shadow: 3px 7px 12px var(--text-shadow);
  text-align: center;
  color: var(--main-white-color);
  font-size: 75px;
}

.skill-cards {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1rem; /* Espaçamento entre os cards */
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1.2rem;
  grid-row-gap: 1.2rem;
  margin: 1.5rem auto;
}

.skill-figure {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 11rem;
  height: 10.875rem;
  background-color: #fff;
  transition: background-color 0.3s ease; /* transição suave para a cor */
  box-shadow: var(--text-shadow) 0px 0px 4px 4px;
  cursor: pointer;
}
.skill-content {
  display: none; /* Inicialmente, o conteúdo está oculto */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  color: rgb(0, 0, 0); /* cor do texto */
  transition: opacity 1.3s ease; /* transição suave para o conteúdo */
}

.skill-content h3 {
  font-size: 1.8rem;
  margin-bottom: 10px; /* espaçamento entre o h3 e o p */
}

.skill-content p {
  margin: 0; /* remove qualquer margem padrão do parágrafo */
  font-weight: 400;
  text-decoration: underline 0.125rem;
}

.icon {
  font-size: 3rem;
  transition: opacity 1.5s ease; /* transição suave para o ícone */
}

.skill-figure:hover {
  background-color: #ff0000; /* nova cor ao passar o mouse */
  transform: scale(1.1);
  transition: 1.6s;
}

.skill-figure:hover .skill-content {
  display: flex;
}

.skill-figure:hover .icon {
  display: none; /* Esconde o ícone quando o mouse está sobre a div */
}

.fa-brands {
  font-size: 4rem;
}

.fa-database {
  font-size: 4rem;
}

.scroll-fade {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.scroll-fade.visible {
  opacity: 1;
}

.scroll-fade.hidden {
  opacity: 0;
}
.Projetos {
  background-color: var(--background-2);
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.Projetos h2 {
  color: var(--main-white-color);
  font-size: 75px;
  text-align: center;
  text-shadow: 3px 7px 12px var(--text-shadow);
}
.card-projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5rem;
  gap: 2rem;
}

.card-right {
  display: flex;
  justify-content: center;
  gap: 3rem;
  transform: translateX(400%);
  transition: transform 2s ease;
}

.card-right:nth-of-type(even) {
  transform: translateX(-400%);
}

.card-left {
  display: flex;
  justify-content: center;
  gap: 3rem;
  transform: translateX(400%);
  transition: transform 2s ease;
}

.card-left:nth-of-type(even) {
  transform: translateX(-400%);
}

.card-right.show,
.card-left.show {
  transform: translateX(0);
}

.card {
  background-color: var(--background-card);
  height: 400px;
  width: 340px;
  border-radius: 20px;
  padding: 1rem;
  margin: 8px;
  text-align: center;
  box-shadow: 8px 12px 30px 0px var(--primary-color);
  transition: transform 0.3s ease;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.card-content {
  opacity: 0;
  visibility: hidden;
  position: absolute; /* Torna o conteúdo absoluto em relação ao card */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 20px;
  background-color: rgba(
    0,
    0,
    0,
    0.8
  ); /* Adiciona um fundo escuro semitransparente */
  border-radius: 20px; /* Mantém a borda arredondada */
  z-index: 1; /* Garante que o texto fique sobre os outros elementos */
}

.card:hover {
  background-color: #1f0707; /* Altera a cor de fundo ao passar o mouse */
  cursor: pointer;
  box-shadow: rgb(163, 32, 32) 0px 0px 8px 8px;
  transform: scale(1.1);
  transition: 1.6s;
  border: 2px solid #d81313;
}

.card_text_elements {
  opacity: 1;
  transition: opacity 1s ease;
  visibility: visible;
}

.card_text_elements:hover {
  display: none;
}

.card:hover .card_text_elements {
  opacity: 0;
  visibility: hidden;
}

.card:hover .card-content {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.card img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-bottom: 12px;
}

.card h5 {
  color: white;
  font-size: 1.6rem;
}

.paragraph {
  color: #ffffff;
  margin: 0.7rem 0;
  font-size: 0.85rem;
  text-shadow: 3px 7px 12px var(--primary-color);
}

.text-explanation {
  margin: 20px;
  font-size: 0.85rem;
  color: #ffff;
  text-shadow: 3px 7px 12px var(--primary-color);
}

.link {
  background-color: var(--primary-color);
  position: relative; /* Permite que o botão fique acima de outros elementos */
  top: 37%;
  z-index: 2; /* Garante que o botão esteja acima do texto explicativo */
  color: white;
  font-size: 15px;
  padding: 5px 15px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
  z-index: 2; /* Certifica-se de que o botão esteja acima de outros elementos */
}

.link:hover {
  background-color: green;
  border: 2px solid #f9004d;
}

/* Texto explicativo que substitui o conteúdo original */
.card .card-hover-content {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.8s ease-in-out;
  color: white;
  font-size: 1rem;
  text-align: center;
}

/* Mostrar o texto explicativo ao passar o mouse */
.card:hover .card-content {
  opacity: 1;
  visibility: visible;
}

.button-deploy {
  background-color: var(--main-home-background);
  position: relative; /* Permite que o botão fique acima de outros elementos */
  top: 37%;
  z-index: 2; /* Garante que o botão esteja acima do texto explicativo */
  color: white;
  font-size: 15px;
  padding: 5px 15px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
  z-index: 2; /* Certifica-se de que o botão esteja acima de outros elementos */
}

.button-deploy:hover {
  background-color: rgb(12, 0, 78);
  border: 2px solid var(--primary-color);
}

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  background-color: #3d0508;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}
.form-container input,
.form-container textarea,
.form-container button {
  outline: none;
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: 0.125rem solid transparent;
  transition: border-color 0.3s, box-shadow 0.3s;
  border-radius: 5px;
}
.form-container input:hover,
.form-container input:focus,
.form-container textarea:hover,
.form-container textarea:focus {
  outline: none;
  border-color: #0c497e;
  box-shadow: 0 0 0 0.25rem #26344a;
}

.form-container button {
  background-color: #0f6917;
  color: white;
  cursor: pointer;
  border: none;
}
.form-container button:hover {
  background-color: #0056b3;
}

.form-container button:disabled {
  cursor: not-allowed;
  background: #555b69;
}

.form-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 1.5rem;
}

#form-contact {
  max-width: 100%;
  max-height: 100%;
  width: 300px;
  border-radius: 2%;
}

footer {
  background-color: var(--background-1);
  padding-top: 100px;
  padding-bottom: 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer h5 {
  color: var(--main-white-color);
  font-size: 28px;
  text-shadow: 3px 7px 12px var(--primary-color);
}

footer p {
  margin-bottom: 25px;
  margin-top: 14px;
  color: var(--main-white-color);
  font-size: 18px;
  text-shadow: 3px 7px 12px var(--primary-color);
}

.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.social img {
  height: 24px;
  border-radius: 50%;
}

.social a {
  background-color: #f90000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.social a:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

#backToTop {
  display: none; /* Esconde o botão inicialmente */
  position: fixed; /* Fixa o botão na tela */
  bottom: 20px; /* Posiciona o botão a 20px do fundo da tela */
  right: 30px; /* Posiciona o botão a 30px da direita da tela */
  z-index: 99; /* Garante que o botão esteja na frente de outros elementos */
  font-size: 30px; /* Tamanho da fonte */
  background-color: var(--main-card-color); /* Cor de fundo */
  color: white; /* Cor do texto */
  border: none; /* Sem bordas */
  outline: none; /* Sem contorno */
  cursor: pointer; /* Cursor de clique */
  padding: 25px; /* Espaçamento interno */
  border-radius: 10px; /* Bordas arredondadas */
  transition: background-color 1s; /* Transição suave para mudança de cor */
}

#backToTop:hover {
  background-color: #1f8017; /* Muda a cor de fundo ao passar o mouse */
}
